.faq {
    background-color: #e6f7ff;
    padding: 20px;

    h2 {
    color: #0066cc;
}

    .question {
    margin-bottom: 10px;
    font-weight: bold;
}

    .answer {
    margin-bottom: 20px;
    }
}